# MariaDB 5.5 repository list - created 2013-12-16 23:47 UTC
# http://mariadb.org/mariadb/repositories/
deb {{ mariadb_repo }} {{ distro_codename.stdout }} main
deb-src {{ mariadb_repo }} {{ distro_codename.stdout }} main
